html {
    width: 100%;
    height: 100%;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight:500;
    line-height: 20px;
    background:white
    

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Start NAV */
nav {
    display: flex;
    justify-content: space-between;
}
.menu-list_items ul{
    display: flex;
}
.menu-list_items a{
    color: #7e7e7e;
    padding: 20px;
    
}


.menu-list_item:first-child a{
    padding-left: 0;
}
.search-wrapper{
    display: flex;
}
.search button{
    background: none;
    border: none;
    padding: 20px 55px 23px 65px;
    color: #7e7e7e;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    cursor: pointer;
}

.search button::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 20px;
    background-image: url('../img/search.png');
    background-size: 30px 30px;
}
.login{
    display: flex;
}

.login-user{
    background: none;
    border: none;
    padding: 20px 0;
    color: #7e7e7e;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    cursor: pointer;
    padding-left: 38px;
    position: relative;
}
.login-user::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: -4px;
    background-image: url('../img/account.png');
    background-size: 30px 30px;

}

.login-registration{
    background: none;
    border: none;
    padding: 23px 0;
    color: #7e7e7e;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}

.login-registration::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 13px;
    top: 26px;
    left: 15px;
    background-color: #7e7e7e;
}

/* End NAV */

/*Start logo*/

.logo-wrapper{
    display: flex;
}
.contacts-header__number a{
    font-size: 20px;

}

.logo-wrapper img{
    margin-left: 0;
    margin-right: auto;
}
.contacts-header{
    padding-right: 38px;
}
.contacts-header__number a{
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.contacts-header__email a{
    
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.contacts-header__email{
    padding-left: 53px;
    margin-top: 5px;
}

.contacts-header__email a::before{
    content: "";
    background-image: url('../img/email.png');
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 1px;
    left: -32px;
    
}

.btn-call-me{
    padding: 21px;
    padding-left: 50px;
    padding-right: 30px;
    font-size: 13px;
    font-weight: 700;
    color: white;
    background: #295481;
    border: none;
    position: relative;
    font-family: inherit;
    cursor: pointer;
}
.btn-call-me::before{
    content: "";
    background-image: url(../img/phone.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 18px;
    left: 24px;
}
.btn-price{
    padding: 21px;
    padding-left: 50px;
    padding-right: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    background: #fff;
    border: 1px solid #295481;
    position: relative;
    font-family: inherit;
    margin-left: 10px;
    cursor: pointer;
}
.btn-price::before{
    content: "";
    background-image: url(../img/price.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 30px;
    top: 18px;
    left: 24px;
    
}
/*End logo*/

/*Start categories*/

.categories{
    height: 68px;
    background-color: #295481;
    background-image: url('../img/categories-bg.jpg');
    background-repeat: repeat;
    background-position: center;
}
.categories-list_items{
    display: flex;
}
.categories-list_item a{
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    padding: 20px;
    padding-left: 20px;
    padding-top: 25px;
    text-transform: uppercase;
}
.categories-list_item:first-child a{
    
    padding-left: 0;
    
}
.categories-list_item_active{
    padding-right: 28px;
    position: relative;
}
.categories-list_item_active::after{
    content: "";
    background-image: url(../img/arrow-down-sign-to-navigate.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 30px;
    top: 23px;
    right: 17px;
}


/*End categories*/

/*Start baner*/

.baner{
    
    height: 580px;
    background-color: #295481;
    background-image: url(../img/baner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -260px 200px 2px rgb(0 0 0 / 70%);
    color: #fff;

}
.baner-inner_wraper{
    max-width: 970px;
}
.tagline{
    font-size: 48px;
    line-height: 60px;
    padding-top: 125px;
    padding-bottom: 100px;
}
h1{
    font-size: 60px;
    line-height: 75px;
    font-weight: bold;
    text-transform: uppercase;
}
.baner-subtitle{
    font-size: 24px;
    line-height: 36px;
}
/*End baner*/

/*Start Services*/
    .baner{
        
        margin: 0 auto;
    }
    .section-title{
        font-size: 36px;
        line-height: 20px;
        text-align: center;
        padding: 75px 0;
        text-transform: uppercase;
    }

    .services-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1920px;
        margin: 0 auto;
        

    }
    .services-item{
        width: 640px;
        
        height: 476px;
        position: relative;
        
    }
    .services-item img{
        width: 100%;
        height: 100%;  
    }

    .services-item img:nth-child(2){
        position: absolute;
        top: -15px;
        left: -20px;
        width: 105%;
        height: 105%;
        z-index: 100;
        box-shadow: 8px -9px 30px 3px rgb(0 0 0 / 30%);
        visibility: hidden;
        
    }
    .services-item:hover img:nth-child(2){
        visibility: visible;
        
    }

    .services-item_title h3{
        font-size: 22px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

    .services-item_next{
        position: absolute;
        top:68%;
        left:50%;
        transform:translate(-50%, -50%);

        width: 61px;
        height: 61px;
        background-color: rgba(153, 153, 153, 0.5);
        background-image: url(../img/arrow-services.png);
        background-position: center;
        background-repeat: no-repeat;
    }
/* End Services*/
 
/* Start advantage*/

    .advantage{
        background-color: #f5f6f8;
        padding-bottom: 70px;
    }

    .advantage-items{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .advantage-item{
        width: 33.33%; 
    }
    .advantage-item img{
        margin-left: 50%;
        transform:translate(-50%, -50%);
    }
    .advantage-item_title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
    }
    .advantage-item_text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
    }
    .section-subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        margin-top: -30px;
        margin-bottom: 45px;
    }
/* End advantage*/

/*Start Our Works*/

    .our-works_block{
        display: flex;
        padding-bottom: 72px;
    }
    .our-works_block-list{
        height: 515px;
        width: 401px;
        overflow: scroll;
        margin-left: -30px;
        padding-left: 15px;
        overflow-x: hidden;
    }

    .our-works_block-list::-webkit-scrollbar {
        width: 7px;               /* ширина всей полосы прокрутки */
      }
      
      .our-works_block-list::-webkit-scrollbar-track {
        background: #f4f5f7;        /* цвет зоны отслеживания */
      }
      
      .our-works_block-list::-webkit-scrollbar-thumb {
        background-color: #00acea;    /* цвет бегунка */
        border-radius: 0px;       /* округлось бегунка */
        border: none;  /* отступ вокруг бегунка */
      }

    .our-works_item{
        display: flex;
        width: 325px;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 15px;
        
    }
    .our-works_item:first-child{
        margin-top: -15px;
        padding-top: 15px;

    }
    .our-works_item:hover{
        box-shadow: 0px -2px 24px 1px rgb(0 0 0 / 30%);
    padding-left: 15px;
    
    width: 356px;
    transition: margin-left .2s linear;
    transition: box-shadow .2s linear;
    z-index: 1000;
    }
    .our-works_item-description{
        padding-left: 15px;
    }
    .our-works_item a{
        color: black;
    }
    .item-description_title{
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        width: 257px;
        margin-bottom: 7px;
    }

    .item-description_addres{
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
       color: #828384;
       padding-left: 25px;
       position: relative;
    }
    .item-description_addres::before{
        content: "";
        width: 17px;
        height: 21px;
        position:absolute;
        background-image: url('../img/pin.png');
        background-position: center;
        background-repeat: no-repeat;
        top: 0;left: 0;

    }

    .our-works_map{
        padding-left:37px;
    }
    .our-works_map img{
        height: 100%;
        width: 100%;
    }

/* End Our Works*/

/* Start reviews*/

    .reviews{
        height: 882px;
        background-image: url('../img/qote-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 70px;
    }

    .reviews-block{
        width:1170px;
        height:735px;
        background-color: #fff;
        box-shadow: 0px -2px 14px 1px rgb(0 0 0 / 13%)
}
    .reviews-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 50px 50px 50px;
        margin-top: -20px;
    }
    .reviews-item{
        width: 255px;
        margin-right: 16px;
        
        
    }
    .reviews-item:last-child{
        
        margin-right: 0;
        
        
    }
    .reviews-item img{
        width: 100%;
        border: #f5f6f8 11px solid;
    }
    .reviews-item img:hover{
        box-shadow: 0px -2px 14px 1px rgb(0 0 0 / 13%);
    }
    .reviews-item a:hover + {
        color:#295481;
    }
    .reviews-item_title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #000;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .reviews-item_text{
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #828384;
    }
    .reviews-item a:hover  .reviews-item_title {
        color:#295481;
    }
    .all-reviews{
        width: 176px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        border: #295481 2px solid;
        text-align: center;
        padding-top: 8px;
        margin: -18px auto;
        color: #000;
    }
/* End reviews*/

/* Start news*/

    .news-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .all-reviews_news{
        text-align: center;
        margin: 0;
}
    .section-title_left{
        padding-bottom: 40px;
    }

    .news-items{
        display: flex;
        justify-content: space-between;
    }
    .news-item{
        width: 49%;
        box-shadow:0px -2px 14px 1px rgb(0 0 0 / 13%);
        margin: 15px;
    }
    .news-item_header{
        max-width: 573px;
        max-height: 252px;
        background-color: #000;
        position: relative;
    }
    .news-item_header img{
        opacity: 40%;
        width: 100%;
    }

    .news-item_header-description{
        position: absolute;
        top: 82px;
        left: 35px;
        color: #fff;
    }
    .news-item_header-description_date{
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
    }
    .news-item_header-description_title{
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        max-width: 360px;
    }
    .news-item_footer{
        padding: 33px;
        background: #fff;
    }
    .news-item_footer-text{
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .news-item_footer a{
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        color: #00acea;
    }

/* End news*/

/*Start articles*/

.articles{
    background-color: #f5f6f8;
    min-height: 650px;
    margin-top: -100px;
    padding-top: 155px;
    padding-bottom: 135px;
}
.articles-items{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
.articles-item{
    max-width: 32%;
    background-color:#fff ;
}
.articles-item img{
    width: 100%;
    max-height: 235px;
}
.articles-item_text{
    font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        padding: 20px 27px 30px 20px;
}
/* End articles*/

/*Start form*/

    .form{
        background-image: url('../img/section-form_bg.jpg');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        min-height: 310px;
        padding: 70px 0 50px;
        color: #fff;
    }
    .form-title{
        font-size: 36px;
        line-height: 20px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .form-subtitle{
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    .input-name, .input-phone{
        width: 380px;
        height: 60px;
        padding-top: 26px;
        padding-bottom: 26px;
        padding-left: 23px;
        margin-right: 15px;
    }
    .input-name::placeholder, .input-phone::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #aaaaaa;
    }
    .btn-send{
        width: 370px;
        height: 60px;
    
        background-color: #000;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
        
    }
    .wrapper-personal-data{
        position: relative;
    }
    .personal-data{
        color: #aaaaaa;
        position: absolute;
        top: 45px;
        left: -373px;
        display: flex;
        align-items: center;
    }
    .personal-data input{
        margin-right: 5px;
    }


/* End form */

/*Start Footer*/

    footer{
        min-height: 300px;
        background-color: #202020;
        padding-top: 70px;
        
    }
    .wrapper-footer-info{
        display: flex;
        padding-bottom: 50px;
    }
    .footer-info{
        margin-bottom: 35px;
        padding-right: 110px;
        
    }
    
    .footer-contacts p{
        padding-left: 45px;
    }
    .footer-contacts_phone a{
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: #fff;
        
    }
    .footer-contacts_phone{
        position: relative;
    }
    .footer-contacts_phone::before{
        content: "";
        width: 19px;
        height: 19px;
        top: 10px;
        left: 14px;
        position: absolute;
        background-image: url('../img/footer-phone.png');
    }
    .footer-contacts_addres{
        font-size: 14px;
        line-height: 36px;
        font-weight: 400;
        color: #fff;
        position: relative;
    }
    .footer-contacts_addres::before{
        content: "";
        width: 19px;
        height: 19px;
        top: 8px;
        left: 14px;
        position: absolute;
        background-image: url('../img/footer-addres.png');
    }
    .footer-contacts_mail{
        position: relative;
    }
    .footer-contacts_mail::before{
        content: "";
        width: 19px;
        height: 19px;
        top: 9px;
        left: 14px;
        position: absolute;
        background-image: url('../img/footer-mail.png');
    }
    .footer-contacts_mail a{
        font-size: 14px;
        line-height: 36px;
        font-weight: 400;
        color: #00acea;
    }
    .footer-menu{
        width: 360px;
    }
    .footer-menu_title{
        font-size: 14px;
        line-height: 36px;
        font-weight: 500;
        color: #f5f6f8;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .footer-menu_items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 145px;
    }
    .footer-menu_item a{
        font-size: 14px;
        line-height: 36px;
        font-weight: 400;
        color: #aaa;
        padding-right: 45px;
    }
    .line{
        width: 100%;
        height: 1px;
        background: #393939;
    }

        .footer-copyright .container{
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    .copyright,  .social-btn{
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #aaa;
    }
    .social-btn{
        display: flex;
        align-items: center;
        
        
    }
    .social{
        width: 45px;
        height: 45px;
        border-radius: 3px;
        border: #9a9a9a 2px solid;
        margin-left: 10px;
    }
    .social-twitter{
        text-align: center;
        padding-top: 8px;
    }
    .social-vkontakte{
        text-align: center;
        padding-top: 13px;
    }
    .social-youtube{
        
        text-align: center;
        padding-top: 8px;
    }


/*End Footer*/

/*  JS modal*/
.btn-menu{
    display: none;
}
.menu-list_items-mobile{
    display: none;
}
.reviews-item_popap {
    position: fixed;
    width: auto !important;
    height: 80%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}




/* Media 1400px*/

@media (max-width: 1400px){

    main .container{
        width: auto;
        max-width: 1100px;
    }

    .reviews-block{
        width: auto;
    }
    .reviews-items{
        padding: 0 20px 50px 20px;
    }
    .reviews-item{
        width: 180px;
    }
    .services-items{
        padding-bottom: 70px;
    }
    .services-item{
        width: 500px;       
        height: 350px;
    }
    .services-item img:nth-child(2) {
        top: -5px;
        left: -8px;
        width: 105%;
        height: 110%;
    }
    .input-name, .input-phone {
        width: 335px;
    }
    .btn-send {
        width: 325px;
    }
    .personal-data {
        left: -327px;
    }
    .slick-next {
        right: -55px !important ;
    }
    .slick-prev{
        left: -55px !important;
    }

}

/* Media 1280px*/
@media (max-width: 1280px){
    .container{
        width: 1070px;
    }
.menu-list_items a {
    
    padding-right: 5px;
}
.search button {
    
    padding: 23px 38px 23px 59px;
}
.categories-list_item a {
    font-size: 10px;
    padding-left: 10px;
}
.categories-list_items {
    justify-content: center;
}
main .container {
    
    max-width: 920px;
}
.tagline {
    font-size: 32px;
    line-height: 41px;
    padding-top: 67px;
    padding-bottom: 51px;
}
h1 {
    font-size: 48px;
    line-height: 68px;
    
}
.baner-subtitle {
    font-size: 20px;
}
.baner {
    height: auto;
    max-height: 580px;
    padding-bottom: 50px;
}
.section-title {
    font-size: 30px;
    padding: 32px 0;

}
.advantage-items {
    padding-top: 55px;
}
.section-subtitle {
    padding-top: 40px;
    font-size: 13px;
    line-height: 23px;
}
.our-works_block-list {
    
    height: 413px;
    width: 590px;
}
.our-works_item {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item-description_title {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 7px;
    width: 206px;
}
.our-works_map {
    padding-left: 10px;
}
.reviews-item {
    padding-top: 40px;
    width: 196px;
    
}
.reviews-block {
    
    height: 629px;
}
.reviews {
    height: 776px;
}
.articles-item_text {
    font-size: 14px;
}
.input-name, .input-phone {
    width: 270px;
}
.btn-send {
    width: 300px;
}
.personal-data {
    left: -302px;
}
.footer-info {
    margin-bottom: 35px;
    padding-right: 45px;
}
.footer-menu {
    width: 280px;
}
.footer-menu_item a {
    
    padding-right: 15px;
}
.footer-about_company{

}

}

/* Media 1092px*/
@media (max-width: 1092px){
.menu-list_items{
    display: none;
}
.search-wrapper {
    
    margin-left: auto;
}
.container{
    width: auto;
    max-width: 920px;
    padding: 0 30px;
}
.btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #000 solid;
    cursor: pointer;
    position: relative;
    background: #fff;
    border-radius: 3px;
}
nav{
    position: relative;
}
.menu-list_items-mobile {
    
    position: absolute;
    top: 50px;
    left: 0;
    width: 250px;
    
    background: #f1f1f1;
    border-radius: 3px;
    z-index: 1000;
}
.menu-list_items-mobile_active{
    display: block;
}
.menu-list_items-mobile li a {
padding: 10px 0 10px 30px;
color: #000;
}

.menu-list_items-mobile li:hover {
        background: #828384;
        }

.btn-menu hr{
    width: 27px;
    height: 2px;
    background: #000;
    border: none;
    border-radius: 1px;
    
}
.btn-menu hr::before{
    content: '';
    position: absolute;
    top: 9px;
    left: 6px;
    width: 27px;
    height: 2px;
    background: #000;
    border-radius: 1px;
}
.btn-menu hr::after{
    content: '';
    position: absolute;
    top: 27px;
    left: 6px;
    width: 27px;
    height: 2px;
    background: #000;
    border-radius: 1px;
    
}
.call-me_wrapper{
    display: none;
}
.contacts-header {
    
    padding-top: 13px;
}
.categories{
    display: none;

}
.baner {
    
    box-shadow: inset 0px -150px 200px 2px rgb(0 0 0 / 70%);
    
}
.tagline {
    font-size: 25px;
    line-height: 33px;
    padding-top: 41px;
    padding-bottom: 40px;
}
h1 {
    font-size: 35px;
    line-height: 60px;
}
.baner-subtitle {
    font-size: 16px;
}
.services-item {
    width: 409px;
    height: 299px;
}
.services-item_title h3 {
    font-size: 17px;
}
.services-item_next {
    width: 44px;
    height: 44px;
}
.reviews-item {
    padding-top: 20px;
    width: 180px;
}
.reviews-item_title {
    font-size: 14px;
}
.reviews-item_text {
    font-size: 10px;
}
.reviews-block {
    height: 560px;
}
.reviews {
    height: 715px;
}
.news-item_header-description {
    
    top: 58px;
    left: 20px;  
}
.news-item_header-description_date {
    font-size: 13px;
}
.news-item_header-description_title {
    font-size: 15px;
}
.news-item_footer {
    padding: 20px;
    
}
.news-item_footer-text {
    font-size: 13px;
    line-height: 23px;
}
.form-title {
    font-size: 32px;
}
.form-subtitle {
    font-size: 15px;
}
.input-name, .input-phone {
    width: 240px;
}
.btn-send {
    width: 275px;
}
.personal-data {
    left: -278px;
    font-size: 11px;
}
.footer-info {
    margin-bottom: 0px;
    padding-right: 25px;
}
.footer-info img{
    width: 230px;
}
.footer-contacts_phone a{
    font-size: 18px;
}
.footer-contacts_mail a{
    font-size: 12px;
}
.footer-menu_title{
    font-size: 12px;
}
.footer-menu_item a {
    font-size: 10px;

}
.footer-menu {
    width: 210px;
}

}

/* Media 890px*/
@media (max-width: 890px){

.container{
    max-width: 700px;
}
main .container {
    max-width: 700px;
}
.section-title {
    font-size: 25px;
    
}
.services-item {
    width: 450px;
    height: 328px;
}
.advantage-item {
    
    padding: 0 10px;
}
.advantage-item_title {
    font-size: 14px;
}
.advantage-item_text {
    font-size: 12px;
}
.section-subtitle {
    font-size: 12px;
}
.our-works_map {
    
    width: 560px;
}
.our-works_block-list {
    height: 275px;
    width: 560px;
}
.our-works_item img{
    max-width: 60px;
    max-height: 60px;
}
.item-description_title {
    font-size: 11px;
    padding-bottom: 5px;
}
.item-description_addres {
    font-size: 11px;
    
}
.reviews-item {
    
    width: 210px;
}
.reviews-item_title {
    font-size: 11px;
}
.reviews-item_text {
    font-size: 9px;
    line-height: 16px;
}
.reviews-block {
    height: auto;
    padding-bottom: 60px;
}
.reviews {
    height: auto;
    padding-bottom: 70px;
}
.news-item_header-description {
    top: 30px;
    left: 15px;
}
.news-item_header-description_title {
    font-size: 12px;
    line-height: 18px;
}
.news-item_footer-text {
    font-size: 11px;
    line-height: 20px;
}
.news-item_footer a {
    font-size: 12px;
    
}
.articles {
    
    min-height: auto;
    margin-top: -67px;
    padding-top: 57px;
    padding-bottom: 60px;
}
.articles-item_text {
    font-size: 11px;
    line-height: 20px;
    padding: 4px 16px 8px 15px;
}
.input-name, .input-phone {
    width: 200px;
    height: 49px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 23px;
    margin-right: 15px;
}
.btn-send {
    width: 200px;
    height: 49px;
}
.personal-data {
    left: -203px;
    font-size: 9px;
}
.footer-info {
    
    padding-right: 0;
}
.footer-menu {
    width: 165px;
}
.footer-contacts_phone a {
    font-size: 16px;
}
.footer-contacts_addres {
    font-size: 11px;
}
.footer-contacts_mail a {
    font-size: 11px;
}
.footer-info img {
    width: 210px;
}


}

/* Media 735px*/
@media (max-width: 735px){
    .section-title {
        font-size: 21px;
    }
    .advantage-items {
        padding-top: 17px;
    }
    .baner-subtitle {
        font-size: 14px;
    }
    .advantage-item img {
        
        width: 50px;
    }
    .advantage-item_title {
        font-size: 12px;
    }
    .advantage-item_text {
        font-size: 9px;
    }
    .advantage {
      
        padding-bottom: 25px;
    }
    .section-subtitle {
        font-size: 10px;
    }
    .our-works_map{
        display: none;
    }
    .our-works_block-list {
        width: 390px;
        margin: 0 auto !important;
    }
    .reviews-item {
        width: 210px;
    }
    
    .articles-items {
        flex-wrap: wrap;
    }
    .articles-item {
        max-width: 100%;
    }
    .articles-item {
        max-width: 100%;
        margin-bottom: 20px;
        max-width: 360px;
        margin: 0 auto 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-name, .input-phone {
        width: 320px;
        height: 49px;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-bottom: 22px;
        margin-right: 0;
    }
    .form-title, .form-subtitle{
        text-align: center;
    }
    .form-subtitle{
        padding-bottom: 40px;
    }
    .personal-data {
        left: -103px;
        font-size: 9px;
        width: 200px;
        top: 15px;
    }

    .wrapper-footer-info {
        display: flex;
        padding-bottom: 50px;
        flex-direction: column;
        /* margin: 0 auto; */
        align-items: center;
    }

    .footer-info {
        margin-bottom: 25px;
        
    }
    .footer-menu {
        width: 261px;
    }
    .footer-menu_title {
        
        text-align: center;
    }

    .footer-copyright .container {
        
        flex-direction: column-reverse;
        padding-top: 15px;
    }
}

/* Media 735px*/
@media (max-width: 735px){
    .contacts-header {
        
        display: none;
    }
    .logo-wrapper img {
        margin: 0 auto;
    }
    .login-user{
        padding: 0;

    }
    .login-user::before{
        display: none;
    }
    .search button {
        padding: 23px 23px 18px 12px;
    }
    .search button::before{
        display: none;
    }
    .tagline {
        font-size: 20px;
        padding-bottom: 25px;
    }
    h1 {
        font-size: 29px;
        line-height: 37px;
    }
    .baner-subtitle {
        font-size: 12px;
        line-height: 20px;
        padding-top: 20px;
    }
    .services-item {
        width: 300px;
        height: 222px;
    }
    .advantage-item {
        width: 100%;
    }
    .advantage-item_text {
        
        padding-bottom: 40px;
    }
    .our-works_block-list {
        margin-left: -31px;
    }
    .news-header {
        
        flex-direction: column;
    }
    .all-reviews_news {
        
        margin-bottom: 30px;
    }
    .reviews {
        
        padding-bottom: 20px;
    }
    .advantage-item_text {
        font-size: 12px;
    }
    .news-item_header-description_title {
        font-size: 10px;
        line-height: 16px;
    }
    .news-item_header-description_date {
        font-size: 10px;
    }
    .news-item_header-description {
        top: 10px;
        left: 10px;
    }
    .news-item_footer-text {
        font-size: 9px;
        line-height: 17px;
    }
    .news-item_footer a {
        font-size: 9px;
    }
    .form-title {
        font-size: 26px;
    }
    .form-subtitle {
        font-size: 11px;
    }
    .our-works_block {
        
        padding-bottom: 10px;
    }
    .copyright, .social-btn {
        font-size: 10px;
        
    }
    .reviews-item_popap {
        position: fixed;
        width: 400px !important;
        
    }



}

/* Media 735px*/
@media (max-width: 575px){
.reviews-item_popap {
    
    width: 331px !important;
    
}
}